* {
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;

  margin: 0;
  padding: 0;
}

.home{
  color: white;
  height: 60vh;
  align-items: center;
  background-color: white;
  display: flex;
  /*flex-direction: row;*/
  padding: 0 10%;
  overflow: hidden;
}

.mainText01{
  width: 150vh;
  padding: 10px;
}

.mainText01 > h1 {
  font-size: 8vh;
  font-weight: 500;
  color: black;
}

.mainText01 > button {
  padding: 10px 15px;
}

.mainImg01{
    width: 100%;
    height: auto;
  margin-left: 50px;
;

}

.mainImg01 img{
  /*float: right;*/
  position: relative;
  width: auto;
  height: auto;
}